.repost-url-container {
  border: 1px solid black;
  overflow-x: scroll;
  white-space: nowrap;
}
/* .repost_url_container:link {
  color: #0000ff;
} */
.repost-url-container:hover {
  color: rgb(60, 60, 255);
}

.reposts-dialog{
  position: relative !important;
  padding-bottom: 5px;
  word-break: break-all;
}

/* fix this part later */
@query (prefers-color-scheme: dark) {
  .ui-dialog .ui-dialog-buttonpane .reposts-dialog .{
    background-color: #000000 !important;
    color: #ffffff I !important;
  }
  .repost-url-container {
    color: #00fffb !important;
  }
  .repost-url-container:hover {
    color: #bdc5ff !important;
  }
}

.repostchecker-button{
  font-size: 20px;
  white-space:nowrap;
  padding-left:11px;
  padding-right:4px
}